<br>
  <div class="row">
    <%= image_tag(@product.image_url, class: "img-responsive col-md-4") %>
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    <strong>$<%= @product.price %> </strong>
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
  </div>


<br>
<div class="row">
  <% if user_signed_in? %>
	<%= link_to 'Edit', edit_product_path(@product) %> 
  <% end %>
  
  <%= link_to 'Back to all products', products_path %>
</div>

<hr>

<%= render partial: "new_comment" %>

<%-# if @product.comments.empty? %>
  <%= render partial: "comments" %>
<%-# end %>